h1,
h2,
h3,
h4,
h5,
h6,
p,
hr {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
button {
  border: 0;
  background-color: inherit;
  margin: 0;
  padding: 0;
}
input {
  border: none;
  outline: none;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7f6ff;
}

.wrapper {
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
  position: relative;
}

header {
  ul {
    display: flex;
    gap: 30px;

    span {
      font-weight: 500;
    }
  }
  border-bottom: 1px solid #eaeaea;
}

.button {
  cursor: pointer;
  background: inherit;
  padding: 0;
  margin: 0;
}

hr {
  opacity: 0.3;
}

.search {
  position: relative;
  padding: 15px;
  border: 1px solid #f2f2f2;
  border-radius: 10px;
  width: 250px;
  gap: 13px;
  input {
    flex: 1;
    &::placeholder {
      font-size: 14px;
      color: #c4c4c4;
    }
  }
  .clear {
    position: absolute;
    right: 0;
    margin-right: 15px;
    top: 13px;
  }
}

.drawer-overlay {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  border-radius: 20px;
}
.drawer {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 385px;
  right: 0;
  top: 0;
  height: 700px;
  background: #ffffff;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  .items {
    overflow: auto;
    padding-bottom: 30px;
  }
}

.cartItem {
  border: 1px solid #f3f3f3;
  border-radius: 20px;
  display: flex;
  margin: 0 auto;
  width: 325px;
  img {
    transform: translateY(-10px);
  }
  h5 {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    padding-bottom: 10px;
  }
  button {
    opacity: 0.5;
    transition: opacity 0.2s ease-in-out;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
  }
}

.total {
  margin-bottom: 24px !important;

  li {
    display: flex;
    align-items: flex-end;
    &:last-child {
      padding-top: 20px;
    }

    div {
      flex: 1;
      height: 1px;
      border-bottom: 1px dashed #dfdfdf;
      position: relative;
      top: -4px;
      margin-right: 5px;
      margin-left: 5px;
    }
  }
}
.items {
  flex: 1;
}

.cart-total {
  padding: 10px 30px 30px 30px;

  .greenBtn {
    position: relative;
    z-index: 2;
    img {
      position: absolute;
      bottom: 20px;
      right: 30px;
      transition: transform 0.2s ease-in-out;
    }

    &:hover {
      img {
        transform: translateX(7px);
      }
    }
  }
}
.greenBtn {
  background: #9dd558;
  border-radius: 18px;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  width: 100%;
  font-family: "Inter";
  padding: 18px;
  z-index: -2;
  cursor: pointer;
  transition: scale 0.2s ease-in-out, background 0.2s ease-in-out;
  &:hover {
    background: #7eaa47;
  }
  &:active {
    scale: 98%;
  }
}

.exitbtn {
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.2s ease-in-out;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  @media screen and (max-width: 1100px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (max-width: 800px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 600px) {
    grid-template-columns: 1fr;
  }
}

.b-1,
.b-2 {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  &:active {
    background-color: green;
  }
  &:last-child {
    &:active {
      background-color: red;
    }
  }
}
